h1 Capers Admin Console 
a(class="btn" href="/logout") LOG OUT

p.
  Here you can add/delete the filter terms and their explanations.
  Once you're done, simply log out and it will be updated.

h2
  | Filters
table
  tr
    td(style='width: '+(100/6)+'%; font-weight: bold').
      Delete 
    td(style='width: '+(100/6)+'%; font-weight: bold').
      Bad Term
    td(style='width: '+(100/6)+'%; font-weight: bold').
      Good Term
    td(style='width: '+(3 * (100/6))+'%; font-weight: bold').
      Description 
  for filter in filters
    tr 
      td(id=filter._id)
        a(href="/adminConsole/filterDelete/" + filter._id) DELETE
      td= filter.badTerm
      td= filter.goodTerm
      td= filter.description

h4
  | Add a filter
form(name="addFilter", action="/addFilter", method="POST")
  label Bad Term:
  input(type="text", name="badTerm")
  label Good Term:
  input(type="text", name="goodTerm")
  label Description:
  input(type="text", name="description" size="100")
  input(type="submit", value="SUBMIT")


